@import url('https://fonts.googleapis.com/css?family=Bangers:100,200,300,400,500,600,700');


/*----Generic Styles----*/

.bangers-font {
    font-family: "Bangers", sans-serif;
    font-stretch: expanded;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px black
}

/*----./Generic Styles----*/

/*----Navbar----*/

.nav-bg {
    background-color: red
}

.navbar-brand {
    padding-left: 40px
}



/*----./Navbar----*/


/*----Footer----*/

footer {
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0px;
}