@import url('https://fonts.googleapis.com/css?family=Bangers:100,200,300,400,500,600,700');


/*----Generic Styles----*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

.bangers-font {
    font-family: "Bangers", sans-serif;
    letter-spacing: 10px;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px black
}

/*----./Generic Styles----*/

/*----Navbar----*/

.logo {
    height: 190px;
    width: 190px;
    position: absolute;
    left: 60px;
    z-index: 1;
    animation-name: logo;
    animation-direction: alternate;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


.nav-bg {
    background-color: #FF6322;
}

.navbar-brand {
    padding-left: 40px
}

/*----./Navbar----*/

/*----Main Content----*/

.main-padding {
    padding-bottom: 40px
}

.button-box-padding {
    padding: 20px 30px;
}

.button-padding {
    padding: 10px 12px;
    border-radius: 100%
}

.select-group-padding {
    padding-top: 50px
}

.rb-padding {
    padding: 20px 30px
}

.mobile-padding {
    padding-top: 20px;
}

.main-bg {
    background-image: url("../images/crowd.jpg");
    background-size: cover;
    height: 100%;
    width: 100%
}

.bg-font-color {
    color: #fff;
}


.buttonHighlight {
    background-color: gray
}



.corkResults,
.dublinResults,
.limerickResults {
    display: none;
}

.corkResultsBox,
.dublinResultsBox,
.limerickResultsBox {
    border: solid 1px grey;
    border-radius: 10px;
    background-color: #fafafa;
    opacity: 0.7;
    width: 100%;
    display: none;
    padding: 0px 10px
}


#cityLimitsContent,
#comedyCavernContent,
#cocoClubContent,
#wonkyDonkeyContent,
#laughterLoungeContent,
#comedyCellarContent,
#jestersComedyContent,
#popCherryContent,
#treatyComedyContent,
#filibusterContent,
#karlnivalContent {
    display: none
}


/*----./Main Content----*/

/*----Map----*/

#map {
    width: 100%;
    border-radius: 10px;
    height: 70vh;
    background-color: grey;
}

.mapOpacity {
    opacity: 0.7
}

/*----Footer----*/

footer {
    
    background-color: #FF6322;
    font-family: "Bangers", sans-serif;
    letter-spacing: 5px;
    text-shadow: 1px 1px black;
    color: white;
    padding: 10px 20px
}



/* Media Queries */

@media (max-width: 991.98px) {

    .bangers-font {
        font-size: 50px;
    }
}

@media (max-width: 767.98px) {

    .bangers-font {
        font-size: 30px;
    }
}



/* Animations */

@keyframes logo {
    from {
        height: 180px;
        width: 180px;
    }
    to {
        height: 200px;
        width: 200px;
    }
}
